<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CircleMode" type="CursorAutoMovement.CircleModeSection, Cursor"/>
		<section name="LockScreenMode" type="CursorAutoMovement.LockScreenModeSection, Cursor"/>
		<section name="InfinityMode" type="CursorAutoMovement.InfinityModeSection, Cursor"/>
		<section name="SpiralMode" type="CursorAutoMovement.SpiralModeSection, Cursor"/>
		<section name="TriangleMode" type="CursorAutoMovement.TriangleModeSection, Cursor"/>
		<section name="QuadrilateralMode" type="CursorAutoMovement.QuadrilateralModeSection, Cursor"/>
		<section name="PolygonMode" type="CursorAutoMovement.PolygonModeSection, Cursor"/>
		<section name="RandomPointMode" type="CursorAutoMovement.RandomPointModeSection, Cursor"/>
	</configSections>
	<!--⚫ Настройки мода Circle (Круг)-->
	<CircleMode intervalMs="25" step="5" radius="30"/>
	<!--🖥 Настройки мода LockScreen (Экран блокировки)-->
	<LockScreenMode intervalMs="25"/>
	<!--♾️ Настройки мода Infinity (Знак бесконечности)-->
	<InfinityMode intervalMs="25" step="5" radius="20"/>
	<!--🐌 Настройки мода Spiral (Спираль)-->
	<SpiralMode intervalMs="25" stepRadius="3" startRadius="0" loopCount="10" isLoop="true" isReverse="false"/>
	<!--🔺 Настройки мода Triangle (Треугольник)-->
	<TriangleMode intervalMs="25" step="5" point1="100, 100" point2="300, 100" point3="500, 500"/>
	<!--⬛ Настройки мода Quadrilateral (Четырёхугольник)-->
	<QuadrilateralMode intervalMs="25" step="5" point1="100, 100" point2="300, 100" point3="500, 500" point4="100, 500"/>
	<!--🛑 Настройки мода Polygon (Многоугольник)-->
	<PolygonMode intervalMs="25" step="5" angleCount="6" radius="50"/>
	<!--〽 Настройки мода RandomPoint (Случайная точка)-->
	<RandomPointMode intervalMs="25" step="5"/>
	<appSettings>
		<!--Виды: Circle, LockScreen, Infinity, Spiral, Triangle, Quadrilateral, Polygon, RandomPoint-->
		<add key="mode" value="RandomPoint"/>
	</appSettings>
</configuration>
